@{
    ViewData["Title"] = "500 Exception";
}

<h1>500 Error</h1>
<h1>@ViewData["clientCert"]</h1>
<p>You can click the 500 button to reproduce a 500 status code error </p>
<a href="@Url.Action("Index2","_500Exception")" class="btn btn-primary btn-lg">500 Error </a>

<p>You can click the 503 button to reproduce a Fake 503 status code error </p>
<a href="@Url.Action("Index3","_500Exception")" class="btn btn-primary btn-lg">503 Error </a>

<p>You can click the 403 button to reproduce a Fake 403 status code error </p>
<a href="@Url.Action("Index4","_500Exception")" class="btn btn-primary btn-lg">403 Error </a>

<p>You can check the troubleshooting steps to find out the root cause for 500</p>

<a href="@Url.Action("Error","Troubleshooting")" class="btn btn-primary btn-lg">How to Troubleshoot 500 </a>
